.subcategoryGrid {

  @include u-listBullets("none");
  @include grid-row();
  font-size: 0; // 1
  margin-bottom: spacing("single");

  li {
      @include grid-column(12, $float: none);
      display: inline-block;
      font-size: fontSize("base"); // 1
      vertical-align: top;
      margin-bottom: spacing("single");

      @include breakpoint("small") {
          width: grid-calc(1, 2);
      }

      @include breakpoint("medium") {
          width: grid-calc(1, 3);
      }
  }
}

.subcategoryGrid-card {
  display: block;
  width: 100%;
  // TODO: Replace hard-coded colors with Stencil theme values
  //    - Use stencilColor()
  //    - Utilize `color-subcat-border` and `color-subcat-bg` settings
  border: 1px solid black;
  background-color: gray;
  text-align: center;
  text-decoration: none;
  border-radius: $global-radius;
  padding: $global-radius;

  h2 {
    margin: 0;
  }
}

.subcategoryGrid-img {
  width: 100%;
  max-width: 500px;
  position: relative;
  display: block;

  img {
    width: 100%;
    display: block;
  }
}

.subcategoryGrid-body {
  padding: spacing("double");
}
